<link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
<script src="/javascripts/jquery.min.js"></script>

<script type="text/javascript">

$(document).ready(function(){
	$("#blogs_list ol").children()[0].click();
})



function display_first_blog(id){
	// alert("HI")
	// var first_child=$("#blogs_list ol").children()[0];
	$('#'+id).click();
}
	
function edit_blog() {
	var id = $("#h_blog").val();
	$.ajax({
		url : "/blogs/edit/"+id,
		method : "put"
	}).done(function(data){
		$("#display_section").html(data);

	});

}

function replace_update(){
	$("#edit_blog").remove();
	$("#blog_action").prepend("<a href='javascript:void(0);' onclick='edit_blog();' id='edit_blog' class='btn btn-primary btn-lg'>Edit</a>")
}

function Update_blog(){
	var _id = $("#h_blog").val();
	var _desc = $("#blog_desc").val();

	$.ajax({
		url : '/blogs/Update_blog',
		method : 'post',
		data : {
			_id : _id,
			desc : _desc
		}
	}).done(function(data){
		$("#display_section").html(data);
		var _id=$("#h_blog").val();
		$("#"+_id).html($('#display_blog').html());
	});

}

function delete_blog(id){
	var _id = id;

	$.ajax({
		url : '/blogs/delete_blogs',
		method : 'post',
		data :{
			_id : _id
		}	
	}).done(function(data){
		$("#link_"+_id).remove();
	});

}

</script>
<script src="/javascripts/bootstrap.min.js"></script>

<style>
.opa{
	/*opacity: .75;*/
}
</style>
	<nav class="navbar navbar-default navbar-inverse">
			<% include /header.ejs %>
		</nav>
<div class="container-fluid" style="background-image:url(/images/sky.jpg);background-repeat:no-repeat;" >

	<div class="col-md-12 opa" style="height:50px;background-color:#f4f4f4;top:5px;">
	<h4><em  id="header" class="text-capitalize"></em></h4>
		<!-- <div class="col-md-9 col-md-offset-2" style="height:30px;top:10px;"> -->
			
		</div>
	</div>

	<div class="col-md-12 " style="height:430px;">

		<div class="col-md-3 list-group opa" style="height:400px;top:15px;overflow:auto;background-color:#eff7f4;" id="blogs_list">
			<ol>
			<%for(i=0;i<blogs.length;i++){%>
			<li id="link_<%=blogs[i]._id%>" onclick="$('#display_blog').html($('#<%=blogs[i]._id%>').html());$('#blog_action').show();$('#h_blog').val('<%=blogs[i]._id%>');replace_update();$('#header').html('<%=blogs[i].name%>')" style="cursor:pointer;">
			<a href="javascript:void(0);" title="Click to view blog." class="list-group-item text-capitalize"><%=blogs[i].name%>

			<span onclick="delete_blog('<%=blogs[i]._id%>');" style="color:blue;" title="Delete this blog">X</span>

			</a>

			<div id="<%=blogs[i]._id%>" style="display:none;">
			<%=blogs[i].description%>
			</div>
			</li>
			<%}%>
			</ol>
		</div>

		<div class="col-md-9" style="height:440px;top:15px;" id="display_section">

			<div id="display_blog" class="col-md-12" style="word-wrap:break-word;height:400px;overflow:auto;background-color:#eff7f4;">

			</div>
			<div class="col-md-6 col-md-offset-4" id="blog_action" style="display:none;">
				<input type="hidden" value="" id="h_blog"></input>
				<a href="javascript:void(0);" onclick="edit_blog();" id="edit_blog" class="btn btn-primary btn-lg">Edit</a>
				<!-- <a href="javascript:void(0);" onclick="$('#blog_action').hide();$('#display_blog').empty();$('#h_blog').val('');display_first_blog();" class="btn btn-warning">Close</a> -->
			</div>

		</div>


	</div>

<!-- 	<div class="col-md-12 opa" style="height:50px;top:20px;background-color:#eff7f4;">
	</div> -->

</div>





