<link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
<script src="/javascripts/jquery.min.js"></script>

<script type="text/javascript">

$(document).ready(function(){
	$("#blogs_list ol").children()[0].click();
})



function display_first_blog(id){
	// alert("HI")
	// var first_child=$("#blogs_list ol").children()[0];
	$('#'+id).click();
}
	
function edit_blog() {
	var id = $("#h_blog").val();
	$.ajax({
		url : "/blogs/edit/"+id,
		method : "put"
	}).done(function(data){
		$("#display_section").html(data);

	});

}

function replace_update(){
	$("#edit_blog").remove();
	$("#blog_action").prepend("<a href='javascript:void(0);' onclick='edit_blog();' id='edit_blog' class='btn btn-primary btn-lg'>Edit</a>")
}

function Update_blog(){
	var _id = $("#h_blog").val();
	var _desc = $("#blog_desc").val();

	$.ajax({
		url : '/blogs/Update_blog',
		method : 'post',
		data : {
			_id : _id,
			desc : _desc
		}
	}).done(function(data){
		$("#display_section").html(data);
		var _id=$("#h_blog").val();
		$("#"+_id).html($('#display_blog').html());
	});

}

function delete_blog(id){
	var _id = id;

	$.ajax({
		url : '/blogs/delete_blogs',
		method : 'post',
		data :{
			_id : _id
		}	
	}).done(function(data){
		$("#link_"+_id).remove();
	});

}

</script>
<script src="/javascripts/bootstrap.min.js"></script>

<style>
.opa{
	opacity: .75;
}
</style>
	<nav class="navbar navbar-default">
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			       <ul class="nav navbar-nav">
			       <li><a class="navbar-brand" href="#">BLOG</a></li>
             <li><a href="/blogs/new_blog" >New Blog</a></li>
	              <li>  <a href="/blogs/angular" >View Blogs Angular</a></li>
	              <li><a href="/blogs" >View Blogs</a></li>
	               <li class="active"><a href="/blogs/get_stats">Blog Stats</a></li>
	              <li><a href="#">Blog Graph</a></li>
              <!-- <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  
                </ul>
              </li> -->
            </ul>
		    </div>
		</nav>
<div class="container-fluid" style="background-color:#cecece;background-image:url(/images/sky.jpg);background-repeat:no-repeat;" >

	<div class="col-md-12 opa" style="height:30px;background-color:#e3e3e3;top:5px;">
	</div>

	<div class="col-md-12 opa" style="height:80px;background-color:#f4f4f4;top:15px;">
		<div class="col-md-1" style="height:50px;top:20px;">
			<a href="/blogs/new_blog" class="btn btn-info">New Blog</a>
		</div>
		<div class="col-md-9 col-md-offset-2" style="height:60px;top:10px;">
			<h2><em  id="header"></em></h2>
		</div>
	</div>

	<div class="col-md-12 opa" style="height:30px;">
	</div>

	<div class="col-md-12 " style="height:430px;">

		<div class="col-md-3 list-group opa" style="height:400px;top:15px;overflow:auto;background-color:#eff7f4;" id="blogs_list">
			<ol>
			<%for(i=0;i<blogs.length;i++){%>
			<li id="link_<%=blogs[i]._id%>" onclick="$('#display_blog').html($('#<%=blogs[i]._id%>').html());$('#blog_action').show();$('#h_blog').val('<%=blogs[i]._id%>');replace_update();$('#header').html('<%=blogs[i].name%>')" style="cursor:pointer;">
			<a href="javascript:void(0);" title="Click to view blog." class="list-group-item"><%=blogs[i].name%>

			<span onclick="delete_blog('<%=blogs[i]._id%>');" style="color:blue;" title="Delete this blog">X</span>

			</a>

			<div id="<%=blogs[i]._id%>" style="display:none;">
			<%=blogs[i].description%>
			</div>
			</li>
			<%}%>
			</ol>
		</div>

		<div class="col-md-9" style="height:440px;top:15px;" id="display_section">

			<div id="display_blog" class="col-md-12" style="word-wrap:break-word;height:400px;overflow:auto;background-color:#eff7f4;">

			</div>
			<div class="col-md-6 col-md-offset-4" id="blog_action" style="display:none;">
				<input type="hidden" value="" id="h_blog"></input>
				<a href="javascript:void(0);" onclick="edit_blog();" id="edit_blog" class="btn btn-primary btn-lg">Edit</a>
				<!-- <a href="javascript:void(0);" onclick="$('#blog_action').hide();$('#display_blog').empty();$('#h_blog').val('');display_first_blog();" class="btn btn-warning">Close</a> -->
			</div>

		</div>


	</div>

	<div class="col-md-12 opa" style="height:50px;top:20px;background-color:#eff7f4;">
	</div>

</div>





