<div class="navbar-header">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
</div>


<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav">
<!-- <li class="<%= active_tab=='blog' ? 'active' : '' %>"><a class="navbar-brand"  href="/blogs">BLOG</a></li> -->
<li class="<%= active_tab=='new_blog' ? 'active' : '' %>"><a href="/blogs/new_blog" >New Blog</a></li>
<li class="<%= active_tab=='ang_blog' ? 'active' : '' %>">  <a href="/blogs/angular" >View Blogs Angular</a></li>
<li class="<%= active_tab=='view_blog' ? 'active' : '' %>"><a href="/blogs" >View Blogs</a></li>
<li class="<%= active_tab=='stats_blog' ? 'active' : '' %>"><a href="/blogs/get_stats">Blog Stats</a></li>
<li><a href="#">Blog Graph</a></li>
</ul>

</div>